/* 
    Create all the style definitions necessary to make your app look as close 
    to the example as possible. You will need to use display:grid to make the 
    bug reports display in three columns (see week 4).
*/

.reportWrapper{
    display: inline-grid;
    grid-template-columns: (3, 1fr);
    color: white;
    background-color: red;
   
}


html {
    background-image: url(images/wallpaper.jpg);
}